@use "../utils/variables" as *;

@mixin shadow-radius($radius: 15px, $padding: 15px) {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: $radius;
    padding: $padding;
}

@mixin section-container($max-width: 1080px, $margin: 0 auto, $padding: 0 20px) {
    max-width: $max-width;
    margin: $margin;
    padding: $padding;
}