@use "../utils/variables" as *;

@mixin btn-primary {
    font-weight: 500;
    padding: 15px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        opacity: 0.85;
    }
}


@mixin shadow-cards {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

@mixin shadow-btn {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}