$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #F6F6F6;
$color-grey-dark: #EAEAEA;
$color-grey-menu: #353535;
$color-grey-icons: #7E7E7E;
$color-white: #FFFFFF;
$color-black: #000000;
$color-font-badge: #008766;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;
