@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.hero {
    &__btn-primary {
        height: 50px;
        margin: 20px 0 30px 0;
        font-weight: 500;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        @include shadow-radius(25px);
        color: white;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
            opacity: 0.85;
        }
    }
}