@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.restaurants {
    background-color: $color-grey;
    padding: 50px 0;

    &__container {
        @include section-container;
    }

    h2 {
        margin-bottom: 25px;
    }

    &__grid {
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
        }
    }
}

.restaurants-cards {
    background-color: $color-white;
    width: 100%;
    margin-bottom: 20px;
    @include shadow-radius(15px, 0);
    overflow: hidden;

    a {
        display: block;
        width: 100%;
    }

    @media screen and (min-width: 1024px) {
        width: 45%;
    }

    &__image-container {
        width: 100%;
        position: relative;
        height: 175px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__badge {
        background-color: $color-tertiary;
        color: $color-font-badge;
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 12px;
        border-radius: 2px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        color: $color-black;
    }

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        cursor: pointer;

        .restaurants-cards__heart-liked,
        .restaurants-cards__heart-default {
            position: absolute;
        }

        .restaurants-cards__heart-liked {
            color: transparent;
            background: linear-gradient(to bottom, $color-primary, $color-secondary);
            background-clip: text;
            opacity: 0;
            transition: opacity 300ms ease;
        }

        &:hover .restaurants-cards__heart-liked {
            opacity: 1;
        }
    }

    &__content {
        color: $color-black;
    }
}