@use "../utils/variables" as *;

.loader {
    position: fixed;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: disappear 2s forwards;

    &__item {
        width: 60px;
        height: 60px;
        border: 6px solid $color-grey-dark;
        border-top: 6px solid $color-primary;
        border-bottom: 6px solid $color-secondary;
        border-radius: 50%;
        margin: auto;
        animation: spin 0.5s linear infinite;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}