@use "../utils/variables" as *;

.location {
  background-color: $color-grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 15px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
    &__icon {
        margin-right: 15px;
        color: $color-grey-menu;
    }
    &__text {
        color: $color-grey-menu;
        font-weight: bold;
    }

    @media screen and (min-width: 768px) {
        box-shadow: none;
    }
}