@use "../utils/variables" as *;

.steps h2 {
    margin-top: 50px;
}

.steps ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
}

.steps {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    &__cards {
        background-color: $color-grey;
        width: 100%;
        max-width: 322px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 25px 30px;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #00000026;
    }

    &__number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        background-color: $color-primary;
    }

    &__text {
        font-weight: 500;
    }

    &__cards i {
        color: $color-grey-icons;
    }
}