@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.steps {
    padding: 50px 0;

    &__container {
        @include section-container;
    }

    h2 {
        margin-bottom: 25px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0;
        list-style: none;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__cards {
        background-color: $color-grey;
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px;
        @include shadow-radius(20px);
        margin-left: 12px;
        gap: 15px;
    }

    &__number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        background-color: $color-primary;
    }

    &__text {
        font-weight: 500;
    }

    &__cards i {
        color: $color-grey-icons;
    }
}