@use "../utils/variables" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
}

button, input {
  font-family: $font-main;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}