@use "../utils/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 15px 0 15px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    box-shadow: none;
  }
}
