@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.location {
  background-color: $color-grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 15px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
    &__icon {
        margin-right: 15px;
        color: $color-grey-menu;
    }
    &__text {
        color: $color-grey-menu;
        font-weight: bold;
    }

    @media screen and (min-width: 768px) {
        box-shadow: none;
    }
}

.hero {
    background-color: $color-grey;
    text-align: center;
    padding: 30px 20px;

    h1 {
        margin-bottom: 20px;
        font-size: 24px;
        padding: 0 30px;
    }

    &__text {
        color: $color-grey-menu;
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
}

.steps {
    padding: 50px 0;

    &__container {
        @include section-container;
    }

    h2 {
        margin-bottom: 25px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0;
        list-style: none;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__cards {
        background-color: $color-grey;
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px;
        @include shadow-radius(20px);
        margin-left: 12px;
        gap: 15px;
    }

    &__number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        background-color: $color-primary;
    }

    &__text {
        font-weight: 500;
    }

    &__cards i {
        color: $color-grey-icons;
    }
}