@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/animations" as *;

.header {
    &__arrow {
        position: absolute;
        left: 20px;
    }
}

.hero-image {
    width: 100%;
    max-height: 275px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 768px) {
        max-height: 380px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu {
    background-color: $color-grey;
    padding: 25px 0;
    max-width: 1080px;
    margin-top: -50px;
    position: relative;
    border-radius: 50px 50px 0 0;

    @media screen and (min-width: 768px) {
        margin: -50px auto 0 auto;
    }

    &__container {
        display: flex;
        flex-direction: column;
        @include section-container(1080px, 20px, 0);

        @media screen and (min-width: 768px) {
            @include section-container(650px, 0 auto, 0 20px);
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            justify-content: center;
            gap: 30px;
        }

        h2 {
            font-family: $font-secondary;
            font-size: 28px;
            font-weight: normal;
        }
    }

    &__category {

        &:nth-child(2) .menu__cards {
            animation-delay: 3200ms;
        }

        &:nth-child(3) .menu__cards {
            animation-delay: 3700ms;
        }

        &:nth-child(4) .menu__cards {
            animation-delay: 4200ms;
        }
    }



    &__subtitle {
        position: relative;
        font-weight: 300;
        margin: 30px 0;

        &::after {
            content: "";
            width: 50px;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color: $color-tertiary;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;
    }

    &__cards {
        background-color: $color-white;
        @include shadow-radius(15px, 0);
        display: flex;
        list-style: none;
        overflow: hidden;
        animation: fade-in 1000ms ease-out both;

        &:hover {
            .menu__cards-check {
                margin-right: 0;
            }
        }
    }

    &__cards-content {
        min-width: 0;
        padding: 15px 0 15px 10px;
        flex: 1;

        h4,
        p {
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__cards-price {
        padding: 15px 10px 15px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    &__cards-check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        margin-right: -60px;
        background-color: $color-tertiary;
        color: $color-white;
        transition: margin-right 250ms ease-out;
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        a {
            display: flex;
            align-items: center;
            padding: 0 50px;
        }
    }
}